[Desktop Entry]
# Определение типа ярлыка приложений
Type=Application
# Название приложения
Name[ru_RU]=Disk Z
# Комментарий, который может/будет использоваться в качестве подсказки
Comment="Открытие общего ресурса"
# Имя значка, который будет использоваться для отображения этого ярлыка.
Icon=/usr/share/icons/cab_view.png
# Исполняемый файл приложения, возможно с аргументами.
Exec=nemo smb://niigb;sol@gefest/common.dho
# Описывает, должно ли это приложение запускаться в терминале или нет
Terminal=false
# Режим
Hidden=false
NoDisplay=false

